DB_URL=jdbc:postgresql://postgres:5432/Gestion_equipos_DB
DB_USERNAME=postgres
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=86400000

POSTGRES_DB=Gestion_equipos_DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=